<input type="hidden" name="size" id="selected_size" value="{{ size_id }}">
<ul class="color-option" style="list-style-type: none; padding: 0; margin: 0;">
        {% for rs in colors %}
            <li style="display: inline-block; margin-right: 10px;">
                <input type="radio" {% if variant.id == rs.id %} checked {% endif %} name="variantid" id="variantid{{ rs.id }}" value="{{ rs.id }}" style="display: none;">
                <label for="variantid{{ rs.id }}" class="color-label {% if variant.id == rs.id %}active{% endif %}" onclick="submitForm('{{ rs.id }}')">
                    <img src="{{ rs.image }}" style="height: 70px">
                </label>
            </li>
        {% endfor %}
    </ul>