{% load static %}
{% comment %} {% for rs in products_slider %} {% endcomment %}
<div class="main_slider" style="background-image:url({% static 'images/banner1111.jpeg' %})">
    <div class="container fill_height">
        <div class="row align-items-center fill_height">
            <div class="col">
                <div class="main_slider_content">
                    {% comment %} <h6>Spring / Summer Collection 2017</h6>
                    <h1>Get up to 30% Off New Arrivals</h1> {% endcomment %}
                    <div class="red_button shop_now_button"><a href="/category_products/">shop now</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% comment %} {% endfor %} {% endcomment %}