{% extends "homebase.html" %}
{% load static %}
{% block title %} {{ setting.title }} {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block body %} 



    <div class="container" style="margin-top:13rem;">
        <div class="row">
            {% include 'user_panel.html' %}
            <!-- Profile Settings-->
            <div class="col-lg-8 pb-5">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <p style="margin-bottom: 15px;">
                        <label for="{{ field.id_for_label }}" style="font-weight: bold;">{{ field.label_tag }}</label><br>
                        {{ field }}
                        {% if field.help_text %}
                            <small style="color: grey;">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                    </p>
                    {% endfor %}
                    <button class="primary-btn" type="submit" style="background-color: #0070c0; color: #fff; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">Save changes</button>
                </form>
            </div>
        </div>
    </div>



{% block foot %} {% include 'foot.html' %}  {% endblock %}
{% endblock %}
