
{% extends "adminbase.html" %}

{% block title %} admin{% endblock %}

{% block sidebar %} {% include 'side.html' %} {% endblock %}
{% block body %}




<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Users Lists</h3>
                            <div class="nk-block-des text-soft">
                                <p>You have total {{user_profiles.count}} users.</p>
                            </div>
                        </div>
                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle"><a href="#"
                                    class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em
                                        class="icon ni ni-menu-alt-r"></em></a>
                                <div class="toggle-expand-content" data-content="pageMenu">
                                    <ul class="nk-block-tools g-3">
                    
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nk-block">
                    <div class="card card-stretch">
                        <div class="card-inner-group">
                            <div class="card-inner position-relative card-tools-toggle">
                                <div class="card-title-group">
                                    
                                    <div class="card-tools me-n1">
                                        <ul class="btn-toolbar gx-1">
                                            <li><a href="#" class="btn btn-icon search-toggle toggle-search"
                                                    data-target="search"><em class="icon ni ni-search"></em></a></li>
                                            <li class="btn-toolbar-sep"></li>
                                            <li>
                                                <div class="toggle-wrap"><a href="#"
                                                        class="btn btn-icon btn-trigger toggle"
                                                        data-target="cardTools"><em
                                                            class="icon ni ni-menu-right"></em></a>
                                                    <div class="toggle-content" data-content="cardTools">
                                                        <ul class="btn-toolbar gx-1">
                                                            <li class="toggle-close"><a href="#"
                                                                    class="btn btn-icon btn-trigger toggle"
                                                                    data-target="cardTools"><em
                                                                        class="icon ni ni-arrow-left"></em></a>
                                                            </li>
                                                            
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-search search-wrap" data-search="search">
                                    <div class="card-body">
                                        <div class="search-content"><a href="#"
                                                class="search-back btn btn-icon toggle-search" data-target="search"><em
                                                    class="icon ni ni-arrow-left"></em></a><input type="text"
                                                class="form-control border-transparent form-focus-none"
                                                placeholder="Search by user or email"><button
                                                class="search-submit btn btn-icon"><em
                                                    class="icon ni ni-search"></em></button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-inner p-0">
                                <div class="nk-tb-list nk-tb-ulist is-compact">
                                    <div class="nk-tb-item nk-tb-head">
                                        <div class="nk-tb-col nk-tb-col-check">
                                            <div class="custom-control custom-control-sm custom-checkbox notext">
                                                <input type="checkbox" class="custom-control-input" id="uid"><label
                                                    class="custom-control-label" for="uid"></label>
                                            </div>
                                        </div>
                                        <div class="nk-tb-col"><span class="sub-text">User</span></div>
                                        <div class="nk-tb-col tb-col-md"><span class="sub-text">Role</span></div>
                                        <div class="nk-tb-col tb-col-sm"><span class="sub-text">Email</span></div>
                                     
                                        <div class="nk-tb-col tb-col-xxl"><span class="sub-text">Company</span></div>
                                        <div class="nk-tb-col tb-col-lg"><span class="sub-text">Verified</span></div>
                                        <div class="nk-tb-col tb-col-xxl"><span class="sub-text">Last
                                                Login</span></div>
                                        <div class="nk-tb-col"><span class="sub-text">Status</span>
                                        </div>
                                        <div class="nk-tb-col nk-tb-col-tools text-end">
             
                                        </div>
                                    </div>


                                    {% for user in users %}
                                    <div class="nk-tb-item">
                                        <div class="nk-tb-col nk-tb-col-check">
                                            <div class="custom-control custom-control-sm custom-checkbox notext">
                                                <input type="checkbox" class="custom-control-input" id="uid1"><label
                                                    class="custom-control-label" for="uid1"></label>
                                            </div>
                                        </div>
                                        <div class="nk-tb-col">
                                            <div class="user-card">
                                                <div class="user-avatar xs bg-primary"><span>{{ user.username|first|upper }}</span></div>
                                                <div class="user-name"><span class="tb-lead">{{ user.username }}</span></div>
                                            </div>
                                        </div>
                                        <div class="nk-tb-col tb-col-md"><span>Customer</span></div>
                                        <div class="nk-tb-col tb-col-sm"><span>{{ user.email }}</span></div>
                                      
                                        
                                        <div class="nk-tb-col tb-col-lg">
                                            <ul class="list-status">
                                                <li><em class="icon text-success ni ni-check-circle"></em>
                                                    <span>Email</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="nk-tb-col tb-col-xxl"><span>10 Feb 2020</span></div>
                                        {% if user.is_active %}
                                        <div class="nk-tb-col"><span class="tb-status text-success">Active</span></div>
                                        {% else %}
                                        <div class="nk-tb-col"><span class="tb-status text-danger">DeActive</span></div>
                                        {%endif%}
                                        <div class="nk-tb-col nk-tb-col-tools">
                                            <ul class="nk-tb-actions gx-2">
                                                
                                                <li>
                                                    <div class="drodown"><a href="#"
                                                        class="btn btn-sm btn-icon btn-trigger dropdown-toggle"
                                                        data-bs-toggle="dropdown"><em
                                                            class="icon ni ni-more-h"></em></a>
                                                        <div class="dropdown-menu dropdown-menu-end">
                                                            <ul class="link-list-opt no-bdr">
                                                                <li><a href="{% url 'profile_details' user.id %}"><em
                                                                        class="icon ni ni-eye"></em><span>View
                                                                        Details</span></a></li>
                                                                {% comment %} <li><a href="{% url 'order_details' user.id %}"><em
                                                                        class="icon ni ni-repeat"></em><span>Orders</span></a>
                                                                </li> {% endcomment %}
                                                                <li class="divider"></li>
                                                                {% if user.is_active  %}        
                                                                <li><a href="{% url 'user_block' user.id %}"><em
                                                                        class="icon ni ni-na"></em><span>Suspend
                                                                        User</span></a></li>
                                                                {% else %}
                                                                <li><a href="{% url 'user_unblock' user.id %}"><em
                                                                    class="icon ni ni-user"></em><span>Unblock
                                                                    User</span></a></li>
                                                                {% endif %}            
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    {% endfor %}
                                
                                </div>
                            </div>
                            <div class="card-inner">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block foot %} {% include 'footer.html' %} {% endblock %}